<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp</title>
</head>
<body>
    <h3 style="margin: 0px;padding: 0px;font-weight: bold;">Amarshan</h3>
    <p style="margin: 0px;padding: 0px;">we are there for those who dont have anyone</p>
    <div  style="display: flex;justify-content: center;margin: 20px;">
            <image src="https://th.bing.com/th/id/R.07f87ec8fde2a2c5f9d7b887adce42dd?rik=CE9DOx7gTRgA1Q&riu=http%3a%2f%2famarshan.in%2fimages%2fgal-n1.jpg&ehk=p0yRCgR6gk01KFHciVuBqKEP8xxSEH%2fuPoXAkmJAsrU%3d&risl=&pid=ImgRaw&r=0" width="50%" style="border-radius: 10px;">
    </div>
    <h3>About Amarshan</h3>
    <p style="font-size: 13px;font-weight: bold;">ചാരിറ്റി പ്രവർത്തനങ്ങൾ ഞാൻ തിരഞ്ഞെടുക്കുക ആയിരുന്നില്ല, മറിച് എന്നെ തിരഞ്ഞെടുക്കുകയായിരുന്നു എന്ന് വിശ്വസിക്കാനാണ് എനിക്കിഷ്ടം. 17 വർഷങ്ങൾ ഞാൻ ഒരു പ്രവാസിയായി ജീവിച്ചു. കൂടെ ചില ചാരിറ്റി പ്രവർത്തനങ്ങളും. അതായിരുന്നു തുടക്കം.പിന്നീട് നാട്ടിൽ തിരിച്ചു എത്തിയപ്പോഴും അതു നല്ല രീതിയിൽ തുടർന്നു. അതിനു എല്ലാ പിന്തുണയും തന്നു എന്റെ ഏറ്റവും വലിയ സമ്പാദ്യമായ സുഹൃത്തുക്കളും ഉണ്ടായിരുന്നു. അങ്ങനെയാണ് തലശ്ശേരി ആസ്ഥാനമാക്കി ഞങ്ങൾ സ്നേഹ സൗഹൃദം എന്ന ട്രസ്റ്റ്‌ നു രൂപം നൽകുന്നത്. കേരളത്തിന്റെ പല ജില്ലകളിൽ യൂണിറ്റുകളായി നിരവധി ചാരിറ്റി പ്രവർത്തനങ്ങൾ നടത്തി കൊണ്ട് ട്രസ്റ്റ്‌ പ്രവർത്തിച്ചു കൊണ്ടിരിക്കുന്നു. സമൂഹത്തിൽ നിസ്സഹായരായ നിർധനരായ ആളുകൾക്കു ചികിത്സ സഹായം ഉൾപ്പടെ പല സേവനങ്ങളും ട്രസ്റ്റ്‌ ചെയുന്നുണ്ട്.</p>
    <h2>Thank you for registering in amarshan the donation app</h2>
    <p>please confirm your email using the otp <div style="color:black;font-size: 60px;font-weight: bold;text-align: center;">{{otp}}</div></p>
</body>
</html>